* {
    padding: 10px;
    box-sizing: border-box;
}

body{
    background:  #5e8489;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px black;
}

h1{
    font-size: 24px;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #5e8489;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #ccc;
    color: black;
}

#address-info{
    margin-top: 20px;
    text-align: left;
}